@model Meal

<div class="row">
    <div class="col-md-12">
        <h1>@Model.Title</h1>
        <p>⏰ @Model.Date.ToString()</p>
        <p>🍝 @Model.Description</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        🍳 @(Model.Cook?.Fullname() ?? "?")
    </div>
    <div class="col-md-4">
        👨 @(Model?.Eaters?.Count ?? 0) / @Model.MaxAmountOfGuests
    </div>
    <div class="col-md-4">
        💰 @Model.Price
    </div>
</div>
<div class="row">
    <div class="col-12">
        @await Component.InvokeAsync("MealButtons", Model)
    </div>
</div>
@if (Model.Eaters.Count() > 0)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Mee-eters tot nu toe:</h2>
            @foreach (var Eater in Model.Eaters)
            {
                @Html.Partial("UserSummary", Eater.ApplicationUser)
            }
        </div>
    </div>

}
