@model ApplicationUser


<div class="card">
    <div class="card-body">
        <h4>@(Model?.Fullname() ?? "No name available")</h4>
        <p class="card-text" style="margin-bottom:2px">📧 @(Model?.Email ?? "No email available")</p>
        <p class="card-text">☎ @(Model?.PhoneNumber ?? "No phonenumber available")</p>
        @if(ViewBag?.PreventStackOverflow ?? true)
        {
        <button type="button" class="btn-dark btn btn-sm" data-toggle="collapse" data-target="#mealsToggleID_@Model?.Id" aria-expanded="false" aria-controls="collapseExample">🍝 Joins</button>
        <button type="button" class="btn btn-dark btn-sm" data-toggle="collapse" data-target="#cooksToggleID_@Model?.Id" aria-expanded="false" aria-controls="collapseExample">🍳 Cooks</button>
        <div class="collapse" id="mealsToggleID_@Model?.Id">
            @foreach (var Meal in Model.MealsAsEater)
            {
                @Html.Partial("MealSummary", Meal.Meal);

            }
            @if (Model.MealsAsEater.Count() < 1)
            {
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">@Model.Firstname hasn't joined any meals yet</p>
                    </div>
                </div>
            }
        </div>
        <div id="cooksToggleID_@Model?.Id" class="collapse">
            @foreach (var Meal in Model.MealsAsCook)
            {
                @Html.Partial("MealSummary", Meal);

            }
            @if (Model.MealsAsCook.Count() < 1)
            {
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">@Model.Firstname has not cooked anything yet</p>
                    </div>
                </div>
            }
        </div>
        }
    </div>
</div>